/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*Шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {	
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	text-align: center;	
}
main {
	text-align: center;
}
.ibg{
background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
}
.ibg img{
width: 100%;
height: 100%;
top: 0;
left: 0;
}
.title-line {
	margin: 100px 0 30px 0;
}
.title {	
	&:before {
		content: '';
		display: block;
		margin: 0 auto 35px auto;
		width: 80px;
		height: 7px;
		background: url('../img/title_line.png') no-repeat;
	}
}
h2 {	
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 70px;
	text-transform: uppercase;
}
.container {	
	max-width: 1140px;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
/*-------JOURNAL-------*/
.journal {
	display: flex;
	justify-content:center;
	padding-top: 105px;
	&_row {
		display: flex;
		flex-wrap: wrap;
		box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
		margin-bottom: 110px;
	}
	&_img, &_text {
		display: inline-flex;
		width: 33.333%;		
	}
	&_img {
		position: relative;
	}
	&_text {
		font-size: 14px;
		flex-direction: column;
		justify-content:space-between;
		padding: 45px 35px;
		& span {
			font-size: 11px;
			font-weight: bold;
			color: #16b5ef;
			text-transform: uppercase;
			margin: 0 0 55px 0;
		}
		& h3 {
			font-size: 16px;
			font-weight: bold;
			line-height: 24px;
			letter-spacing: 2px;
			text-transform: uppercase;
			margin: 0 0 25px 0;
		}
		& p.text {
			color: #777777;
			line-height: 23px;
			margin: 0 0 40px 0;
		}
		& p.number {
			font-family: 'Times New Roman', Times, serif;
			font-style: italic;
			color: #212121;
		}	
	}
}
	.love_logo, .tree_logo, .water_logo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
	}	
.love, .tree, .water {
	position: relative;
}
.love:after, .tree:after, .water:after {
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
	z-index: 2;
}
.love {	
	&:after {
		left: -10px;
		top: 50px;
		border-top: 10px solid transparent;		
		border-bottom: 10px solid transparent;
		border-right: 10px solid #fff;
	}
}
.tree {	
	&:after {		
		right: -10px;
		top: 50px;		
		border-top: 10px solid transparent;		
		border-bottom: 10px solid transparent;
		border-left: 10px solid #fff;		
	}
}
.water {	
	&:after {		
		left: 50px;
		top: -10px;		
		border-right: 10px solid transparent;		
		border-left: 10px solid transparent;
		border-bottom: 10px solid #fff;
	}
}
/*-------WORK-------*/
.work {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
	&_row {
		display: flex;		
		justify-content:space-between;
	}	
	&_column {
		width: 20%;
		padding: 0px 20px;
		& h3 {
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		& p {
			color: #949494;
			line-height: 24px;
		}
	}
	&_num, &_icon {
		display: flex;
		justify-content:center;
		align-items: center;
		border-radius: 50%;
		margin: 0 auto;
	}
	&_num {		
		width: 48px;
		height: 48px;
		font-size: 16px;
		font-weight: bold;
		color: #3bb0eb;
		border: 2px solid #3bb0eb;
		margin-bottom: 60px;	
	}
	&_icon {		
		width: 179px;
		height: 179px;		
		background: #f0f3f6 url('../img/work/work_logo_bg.png') center no-repeat;
		margin-bottom: 28px;
		& img {
			height: 40px;
		}
	}
}
/*-------TRAVEL-------*/
.travel {
	display: flex;
	justify-content: center;
	background: url('../img/travel/travel_map.png') top no-repeat, url('../img/travel/travel_bg.png') bottom/cover no-repeat;
	margin-bottom: 70px;
	&_row {
		width: 100%;
		display: flex;		
		justify-content:space-between;
		margin-bottom: 478px;
	}
	&_column {
		color: #fff;
		width: 18%;
		margin: 0px 10px 0 10px;
		position: relative;		
		&_content {
			display: flex;
			justify-content:space-between;
			flex-direction:column;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 1;
			padding: 15px 12px 20px 20px;
			text-align: left;
			&_title {
				flex-grow:1;
				& h3 {
					font-size: 28px;
					margin-bottom: 20px;
				}
				& p {
					line-height: 22px;
				}		
			}
			& .star {
				display: block;
				margin-bottom: 130px;
				& img {
					display: inline-block;
				}
			}
		}		
	}
}
.price {
	display: flex;
	justify-content:space-around;
	align-items:center;
	&_old {
		font-size: 18px;
		text-decoration: line-through;
	}
	&_new {
		font-size: 28px;
		font-weight: 900;
	}
}
/*-------GALLERY-------*/
.gallery {
	display: flex;
	justify-content: center;	
	margin-bottom: 70px;
	&_row {
		width: 100%;
		display: flex;
		justify-content:space-between;		
	}
	&_column {
		display: flex;
		flex-direction:column;
		justify-content: space-between;
		& div:first-child {
			margin-bottom: 5%;
		}
		&_l {
			width: 23%;
		}
		&_m {
			width: 32%;
		}
		&_b {
			width: 40%;
		}
	}
}
/*-------BRANDS-------*/
.brands {
	background: #f8f9fa;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 70px 0;
	margin-bottom: 70px;
	&_container {
		display: flex;
		justify-content: space-between;
	}
}
/*-------FEEDBACK-------*/
.feedback {
	display: flex;
	justify-content: center;
	background: url(../img/feedback/feedback_bg.png) bottom no-repeat;
	&_row {
		width: 100%;
		display: flex;
		margin-bottom: 140px;
	}	
	&_block {
		width: 40%;
		padding: 0 10px;
		margin: 0 15px;
		& span {
			font-size: 92px;
			color: #bcbcbc;
		}
		& p {
			font-size: 18px;
			line-height: 33px;
			color: #bcbcbc;
			text-align: justify;
			margin-bottom: 30px;
		}
		.client {
			display: flex;
			align-items:center;
			& img {
				margin-right: 18px;
			}
			& p {
				font-size: 16px;
				color: #36aeea;
			}
			& span {
				font-size: 16px;
				font-weight: bold;
			}
		}
	}
}
	.slick-active {
		outline: none;
	}
	.arrow {
		top: 5%;
		transform: translateY(50%);
		position: absolute;
		z-index: 99;
		width: 30px;
		height: 80px;
		border: none;		
	}
.prev {
	left: 5px;
	background: url(../img/arrow-left.svg) center no-repeat;
	background-size: 70%;
	}
.next {
	right: 5px;
	background: url(../img/arrow-right.svg) center no-repeat;
	background-size: 70%;
}
.main-form {
	background: #5c8995;
	width: 515px;
	padding: 40px 30px 50px 30px;
	margin: 0 auto 165px auto;
	border-radius: 7px;
	& h3 {
		font-family: 'Myriad Pro', Arial, sans-serif;
		color: #36aeea;
		font-size: 36px;
		text-transform: uppercase;
		margin-bottom: 17px;
	}
	& p {
		font-family: 'Myriad Pro', Arial, sans-serif;
		color: #383e4a;
		margin-bottom: 35px;
	}
}
.form {	
	/*Поле для ввода*/
		&-input {
			display: block;			
			width: 100%;
			border-radius: 5px;
			margin: 20px 0;
			padding: 15px;
		}
		/*Кнопка формы*/
		&-btn {
			display: block;
			background: #36aeea;
			width: 100%;
			height: 55px;
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
			border-radius: 5px;
		}
}
footer {
	display: flex;
	background: #3e5c65;
	justify-content: center;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.copy {
	color: #5c818d;
}
.social {
	display: inline-flex;
	& a {		
		height: 40px;
		width: 40px;
		margin: 20px 5px;		
	}
}
.phone {
	font-family: 'Roboto', sans-serif;
	font-size: 27px;
	color: #7bc0d2;
}
@media (max-width: 1024px) {
	.journal {
			&_text {
		  padding: 25px 20px;
		  	& h3 {
		   	margin: 0 0 15px 0;
		  	}
		  	& span {
		  		margin: 0 0 20px 0;
		  	}
		  	& p.text {
		  		margin: 0 0 30px 0;
		  	}
			}
		}	
	.feedback {
		&_block {			
			padding: 0 70px;		
			& span {
				font-size: 70px;
			}
		}
	}
}
@media (max-width: 949px) {
	.travel {
		&_row {
			padding: 0 25px;
			overflow: hidden;
		}
	}
}
@media (max-width: 768px) {
	h2 {
		margin-bottom: 40px;
	}
	.title:before {
  margin: 0 auto 20px auto;
 }
	.journal {
		padding-top: 70px;
		&_row {			
			margin-bottom: 70px;
		}
		&_img, &_text {
			width: 50%;
		}		
		&_text {
			padding: 30px 15px 20px 15px;
			& span {
				margin: 0 0 30px 0;
			}
			& h3 {
				margin: 0 0 20px 0;
			}
			& p.text {
				margin: 0 0 20px 0;
			}
			& p.number {
			}	
		}
	}		
	.love {		
	}
	.tree {
		order: 3;
		&_img {
			order: 4;
		}		
	}
	.water {
		order: 6;
		&_img {
			order: 5;
		}
		&:after {
			left: -24px;
			top: 50px;
			border-top: 10px solid transparent;		
			border-bottom: 10px solid transparent;
			border-right: 10px solid #fff;
		}
	}
	.gallery {
		&_row {
			flex-wrap: wrap;
			justify-content: center;			
		}
		&_column {
			margin-bottom: 10px;		
			& div:first-child {				
				margin-bottom: 10px;
			}
			&_item {

			}
			&_l {
				width: 39%;
				margin-right: 3%;
			}
			&_m {
				width: 58%;
			}
			&_b {
				width: 98%;
			}
		}
	}
	.feedback {
		&_block {
			padding: 0 25px;
			& p {
			 font-size: 16px;
			 line-height: 26px;
			}
		}
	}
}
@media (max-width: 599px) {
	.journal {
		&_row {
			width: 100%;
			justify-content: center;
		}
		&_img, &_text {
			width: 90%;
		}
		&_img {
			justify-content: center;
		}
	}
	.love:after, .water:after {
		left: 25%;
		top: -20px;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		border-bottom: 10px solid #fff;
	}
	.tree {
		order: 4;
		&_img {
			order: 3;
		}
		&:after {
			right: 25%;
			top: -20px;
			border-right: 10px solid transparent;
			border-left: 10px solid transparent;
			border-bottom: 10px solid #fff;
		}
	}
	.water {
		order: 6;
		&_img {
			order: 5;
		}
	}
	.gallery {
		&_column {
			&_l, &_m, &_b {
				width: 100%;
			}
		}
	}
	.main-form {
		width: 90%;
		padding: 40px 30px 50px 30px;
		margin: 0 auto 165px auto;
		& h3 {
			font-size: 36px;
			margin-bottom: 17px;
		}
		& p {
			margin-bottom: 35px;
		}
	}
}
@media (max-width: 499px) {
	.brands {
		padding: 20px 0;
		&_container {
			flex-wrap: wrap;
			& img {
				margin: 10px 27px;
			}
		}
	}
	.footer {
			flex-direction:column-reverse;
		}
		.phone {
			margin-top: 10px;
		}
		.copy {
			margin-bottom: 10px;
		}
}